<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Stop-N-Shop</title>
    {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
    <link rel="stylesheet" href="/css/dark-mode.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />    
  </head>

  <body>
    <div class="wrapper">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-text" href="/">Tech Stop-N-Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link nav-text" href="/products">Products</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item active">
              <button id="logout" class="btn nav-text">Logout</button>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-text" href="/profit">Profit Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link nav-text" href="/product-inventory">Product Inventory</a>
            </li> 
            {{else}}
            <li class="nav-item active">
              <a class="nav-link nav-text" href="/login" id="login">Login</a>
            </li>
            {{/if}}
            {{!-- MIT licensed code for dark mode https://github.com/coliff/dark-mode-switch --}}
            <li class="nav-item active custom-control custom-switch my-auto">
              <input type="checkbox" class="custom-control-input" id="darkSwitch" />
              <label class="custom-control-label" for="darkSwitch"><span class="oi oi-contrast" title="oi-contrast" aria-hidden="true"></span></label>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 mr-2">
            <input class="form-control mr-sm-2" type="text" placeholder="Search By Keyword" aria-label="Search" style="width: 200px;">
            <button class="btn btn-outline-success my-2 my-sm-0 nav-text" type="submit"><span class="oi oi-magnifying-glass"></span></button>
          </form>
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#cart"><span class="oi oi-cart"></span> (<span class="total-count"></span>)</button></div>
        </div>
      </nav>
    </header>
    <main class="mt-5">
      <!-- Modal -->
      <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="show-cart table">
                
              </table>
              <div>Total price: $<span class="total-cart"></span></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="clear-cart btn btn-danger">Clear Cart</button>
              <button type="button" class="btn btn-primary">Order now</button>
            </div>
          </div>
        </div>
      </div> 

    {{{ body }}}
    
    </main>
    <footer>
      Thanks for visiting!
    </footer>
    </div>

    {{!-- scripts --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/javascript/homepage.js"></script>
    <script src="/javascript/dark-mode-switch.js"></script>
  </body>
</html>
