<br>
<h3>Congratulations! Your order confirmation number is <span id="confirmationNum">10101</span></h3>
<br>
<table class="table dark-mode-light-text">
  <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Item</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>
  <tbody id="items">
  </tbody>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td><span id="total">GrandTotal</span></td>
    </tr>
  </tbody>
</table>

<script src="/javascript/checkout.js"></script>
