<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

<!-- all we need is the > character, followed by the name of the partial file and the object we'll pass to the partial. -->