<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Username</label>
    <input type="text" class="form-control" id="username-login" placeholder="Please Your A Username">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" class="form-control" id="password-login" placeholder="Please Your A Password">
  </div>
  <button type="submit" id="submitButton" class="btn btn-primary mb-2">Submit</button>
  </br>
  </br>
  <a href="./signup">Click Here To Signup!</a>
</form>

<script src="/javascript/login.js"></script>