[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #111 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] header {
  border-bottom: 1px solid #deb928;
}

[data-theme="dark"] .nav-text {
  color: white !important;
}

[data-theme="dark"] .nav-text {
  color: white !important;
}

[data-theme="dark"] .oi-menu {
  color: white !important;
}

@media only screen and (max-width: 991px) {
  #logout {
    padding-left: 0px;
  }
}